Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: none
        persistCredentials: true
        clean: false
  ...

fix artefact folder for when copying file
  pipelines/ngx-twcss-demo.yml
Due: none

remove preserve flag to fix copy
  pipelines/ngx-twcss-demo.yml
Due: none

set comboboxe width to 64
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

set default height
  projects/ngx-twcss/src/lib/components/button/button.config.ts
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

update button group demo
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

update
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/comboboxe-demo/comboboxe-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

update
  .yarn/install-state.gz
  yarn.lock
Due: none

fix: demos (#21)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/comboboxe-demo/comboboxe-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

remove icon directive
  src/app/demos/button-group-demo/button-group-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

remove icon directive (#22)
  src/app/demos/button-group-demo/button-group-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

pipeline(demo): fix release task
  pipelines/ngx-twcss-demo.yml
Due: none

fix button group demo
  src/app/demos/button-group-demo/button-group-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

refactor to use templates
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

fix typo
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

remove condition
  pipelines/ngx-twcss-demo.yml
Due: none

update trigger to include release/*
  pipelines/ngx-twcss-package.yml
Due: none

refactor pipelines to use templates (#23)
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

fix unit tests
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/avatar/avatar.spec.ts
  projects/ngx-twcss/src/lib/components/badge/badge.spec.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.spec.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.spec.ts
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.spec.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.spec.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

add class for more demo usage
  src/app/demos/button-group-demo/button-group-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

refactor code for better extensibility
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/avatar/avatar.ts
  projects/ngx-twcss/src/lib/components/badge/badge.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.ts
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

refactor for better readability
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  projects/ngx-twcss/src/lib/core/services/config.service.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

refactor for better readability and performance (#25)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  projects/ngx-twcss/src/lib/core/services/config.service.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

add backdrop
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button-group/button-group.ts
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

add backdrop (#26)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button-group/button-group.ts
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

refactor class structure
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/components/button/button.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  projects/ngx-twcss/src/lib/core/services/config.service.ts
  projects/ngx-twcss/src/lib/core/types/size-options.ts
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

add icon component
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.config.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app.component.html
  src/app/app.module.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

update demo to use icon component
  src/app/app.component.ts
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/menu/menu.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

Add icon component (#27)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/components/button/button.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.config.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  projects/ngx-twcss/src/lib/core/services/config.service.ts
  projects/ngx-twcss/src/lib/core/types/size-options.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/menu/menu.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

set release tag variables
  pipelines/ngx-twcss-demo.yml
Due: none

release: v0.3
  pipelines/ngx-twcss-package.yml
Due: none

Release: v0.3 (#28)
  .yarn/install-state.gz
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
  projects/ngx-twcss/src/lib/components/button/button.config.ts
  projects/ngx-twcss/src/lib/components/button/button.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.config.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  projects/ngx-twcss/src/lib/core/services/config.service.ts
  projects/ngx-twcss/src/lib/core/types/size-options.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/menu/menu.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

update triggers
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

update release branch tags
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

add a condition for insiders release
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

update triggers (#29)
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

add ngx-twcss icons in menu and config source
  .yarn/install-state.gz
  README.md
  projects/ngx-twcss/README.md
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  src/app/app.component.html
  src/app/menu/menu.component.html
  src/favicon.ico
  src/index.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

add ngx-twcss icons in menu and config source (#30)
  .yarn/install-state.gz
  README.md
  projects/ngx-twcss/README.md
  projects/ngx-twcss/src/lib/components/button/button.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/core/helpers/config.helper.ts
  src/app/app.component.html
  src/app/menu/menu.component.html
  src/favicon.ico
  src/index.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

update favicon
  src/favicon.ico
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

Path conditions:
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
