Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Continuous Integration
    demands:
    - Agent.OS -equals Linux
    - AZP_RUNS -equals ngx-twcss-demo
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Continuous Integration
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

replace cat with echo
  azure-pipelines/ngx-twcss-package.yml
Due: none

update
  azure-pipelines/ngx-twcss-demo.yml
Due: azure-pipelines/ngx-twcss-demo.yml

update statement
  azure-pipelines/ngx-twcss-demo.yml
Due: azure-pipelines/ngx-twcss-demo.yml

update CD stage run condition
  azure-pipelines/ngx-twcss-package.yml
Due: none

update pool name
  azure-pipelines/ngx-twcss-demo.yml
  azure-pipelines/ngx-twcss-package.yml
Due: azure-pipelines/ngx-twcss-demo.yml

feat/pipelines (#15)
  azure-pipelines/ngx-twcss-demo.yml
  azure-pipelines/ngx-twcss-package.yml
Due: azure-pipelines/ngx-twcss-demo.yml

feat/pipelines (#15) (#16)
  azure-pipelines/ngx-twcss-demo.yml
  azure-pipelines/ngx-twcss-package.yml
Due: azure-pipelines/ngx-twcss-demo.yml

update pipeline
  azure-pipelines/ngx-twcss-demo.yml
  azure-pipelines/ngx-twcss-package.yml
Due: azure-pipelines/ngx-twcss-demo.yml

Update ngx-twcss-package.yml for Azure Pipelines
  azure-pipelines/ngx-twcss-package.yml
Due: none

update pipelines
  azure-pipelines/ngx-twcss-demo.yml
  azure-pipelines/ngx-twcss-package.yml
Due: azure-pipelines/ngx-twcss-demo.yml

update pipelines triggers
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

remove old version
  pipelines/ngx-twcss-package.yml
Due: none

remove checkout
  pipelines/ngx-twcss-package.yml
Due: none

remove params
  pipelines/ngx-twcss-package.yml
Due: none

fix remove task
  pipelines/ngx-twcss-package.yml
Due: none

update pipelines
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

update build step
  pipelines/ngx-twcss-package.yml
Due: none

update vars
  pipelines/ngx-twcss-package.yml
Due: none

update vars name
  pipelines/ngx-twcss-package.yml
Due: none

update package managers
  .yarn/install-state.gz
  .yarnrc.yml
  package-lock.json
  yarn.lock
Due: none

remove .yarn and yarn.lock
  .gitignore
Due: none

update scripts for better simplicity
  package.json
Due: none

remove pipeline status as no necessary
  README.md
  projects/ngx-twcss/README.md
Due: none

update CI triggers and tasks
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
Due: none

add comboboxe
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.spec.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
Due: azure-pipelines/ngx-twcss-package.yml

export comboboxe
  projects/ngx-twcss/src/public-api.ts
Due: azure-pipelines/ngx-twcss-package.yml

remove extra props for simplicity
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.ts
Due: azure-pipelines/ngx-twcss-package.yml

reduce scrollbar width size
  src/styles.css
Due: azure-pipelines/ngx-twcss-demo.yml

update label
  src/app/code-snippet/code-snippet.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml

add combobxe demo
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/demos/comboboxe-demo/comboboxe-demo.component.html
  src/app/demos/comboboxe-demo/comboboxe-demo.component.spec.ts
  src/app/demos/comboboxe-demo/comboboxe-demo.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml

add combobxe nav link
  src/app/menu/menu.component.html
Due: azure-pipelines/ngx-twcss-demo.yml

remove combobxe
  src/app/demos/lab/lab.component.html
  src/app/demos/lab/lab.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml

update button variant
  src/app/app.component.html
Due: azure-pipelines/ngx-twcss-demo.yml

update dropdown size
  src/app/demos/dropdown-demo/dropdown-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml

format roadmap
  src/app/roadmap/roadmap.component.html
Due: azure-pipelines/ngx-twcss-demo.yml

feat: comboboxe (#18)
  .gitignore
  .yarn/install-state.gz
  .yarnrc.yml
  README.md
  package-lock.json
  package.json
  pipelines/ngx-twcss-demo.yml
  pipelines/ngx-twcss-package.yml
  projects/ngx-twcss/README.md
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.html
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.spec.ts
  projects/ngx-twcss/src/lib/components/comboboxe/comboboxe.component.ts
  projects/ngx-twcss/src/lib/components/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.component.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/code-snippet/code-snippet.component.ts
  src/app/demos/comboboxe-demo/comboboxe-demo.component.html
  src/app/demos/comboboxe-demo/comboboxe-demo.component.spec.ts
  src/app/demos/comboboxe-demo/comboboxe-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/lab/lab.component.ts
  src/app/menu/menu.component.html
  src/app/roadmap/roadmap.component.html
  src/styles.css
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml

release: 0.1
  pipelines/ngx-twcss-package.yml
Due: none

release: v0.1
  pipelines/ngx-twcss-package.yml
Due: none

Path conditions:
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
