Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

Path conditions:
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src

add a function to set dark theme by default
  src/app/app.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

fix typo
  .yarn/install-state.gz
  angular.json
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.html
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.spec.ts
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.spec.ts
  src/app/demos/combobox-demo/combobox-demo.component.ts
  src/app/demos/lab/lab.component.ts
  src/app/menu/menu.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

fix typo (#31)
  .yarn/install-state.gz
  angular.json
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.html
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.spec.ts
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.spec.ts
  src/app/demos/combobox-demo/combobox-demo.component.ts
  src/app/demos/lab/lab.component.ts
  src/app/menu/menu.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

update top margins and menu bg
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  src/app/app-routing.module.ts
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/badge-demo/badge-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.ts
  src/app/menu/menu.component.html
  src/app/roadmap/roadmap.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

update layout (#32)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  src/app/app-routing.module.ts
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/badge-demo/badge-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/lab/lab.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.ts
  src/app/menu/menu.component.html
  src/app/roadmap/roadmap.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

add logo
  README.md
  projects/ngx-twcss/README.md
  src/assets/images/ngx-twcss-logo-doc.png
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

fix links
  README.md
  projects/ngx-twcss/README.md
Due: none

update logo images link to use gh
  projects/ngx-twcss/README.md
Due: none

release: v0.4
  pipelines/ngx-twcss-package.yml
Due: none

release: v0.4 (#34)
  pipelines/ngx-twcss-package.yml
Due: none

refactor for better extensibility
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/avatar/avatar.spec.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.config.ts
  projects/ngx-twcss/src/lib/core/types/sizing/size.ts
  src/app/code-snippet/code-snippet.component.ts
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/avatar-demo/avatar-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.ts
  src/app/demos/lab/lab.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

fix unit tests
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/avatar/avatar.directive.spec.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.directive.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.spec.ts
  projects/ngx-twcss/src/lib/components/badge/badge.component.spec.ts
  projects/ngx-twcss/src/lib/components/badge/badge.component.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.component.spec.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.component.ts
  projects/ngx-twcss/src/lib/components/button/button.component.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.component.ts
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.directive.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.directive.ts
  projects/ngx-twcss/src/public-api.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

refactor(component): avatar (#35)
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/avatar/avatar.directive.spec.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.directive.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.spec.ts
  projects/ngx-twcss/src/lib/components/avatar/avatar.ts
  projects/ngx-twcss/src/lib/components/badge/badge.component.spec.ts
  projects/ngx-twcss/src/lib/components/badge/badge.component.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.component.spec.ts
  projects/ngx-twcss/src/lib/components/button-group/button-group.component.ts
  projects/ngx-twcss/src/lib/components/button/button.component.spec.ts
  projects/ngx-twcss/src/lib/components/button/button.component.ts
  projects/ngx-twcss/src/lib/components/combobox/combobox.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon-source.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.component.ts
  projects/ngx-twcss/src/lib/components/icon/icon.config.ts
  projects/ngx-twcss/src/lib/components/icon/icon.directive.spec.ts
  projects/ngx-twcss/src/lib/components/icon/icon.directive.ts
  projects/ngx-twcss/src/lib/core/types/sizing/size.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/code-snippet/code-snippet.component.ts
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/avatar-demo/avatar-demo.component.ts
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.ts
  src/app/demos/lab/lab.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

refactor(component) use DI to inject config
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/elements/avatar/avatar.config.ts
  projects/ngx-twcss/src/lib/components/elements/avatar/avatar.directive.spec.ts
  projects/ngx-twcss/src/lib/components/elements/avatar/avatar.directive.ts
  projects/ngx-twcss/src/lib/components/elements/badge/badge.component.spec.ts
  projects/ngx-twcss/src/lib/components/elements/badge/badge.component.ts
  projects/ngx-twcss/src/lib/components/elements/badge/badge.config.ts
  projects/ngx-twcss/src/lib/components/elements/button-group/button-group.component.spec.ts
  projects/ngx-twcss/src/lib/components/elements/button-group/button-group.component.ts
  projects/ngx-twcss/src/lib/components/elements/button-group/button-group.config.ts
  projects/ngx-twcss/src/lib/components/elements/button/button.config.ts
  projects/ngx-twcss/src/lib/components/elements/icon/icon.config.ts
  projects/ngx-twcss/src/lib/components/forms/toggle/toggle.config.ts
  projects/ngx-twcss/src/lib/components/modal-dialog/modal-dialog.config.ts
  projects/ngx-twcss/src/lib/core/types/borders/ring-inset.ts
  projects/ngx-twcss/src/lib/core/types/borders/ring-width.ts
  projects/ngx-twcss/src/lib/core/types/element.config.ts
  projects/ngx-twcss/src/lib/core/types/modifiers/focus.ts
  projects/ngx-twcss/src/lib/core/types/typography/font-weight.ts
  projects/ngx-twcss/src/public-api.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

refactor: combobox
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.component.spec.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.component.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.config.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.html
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.spec.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.config.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/app.module.ts
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

remove toggle demo
  src/app/demos/toggle-demo/toggle-demo.component.html
  src/app/demos/toggle-demo/toggle-demo.component.ts
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

ignore unpublish.ps1
  .gitignore
Due: none

update demo
  .yarn/install-state.gz
  src/app/demos/combobox-demo/combobox-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

update routing
  src/app/app-routing.module.ts
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

update demo
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/elements/dropdown/dropdown.api.ts
  projects/ngx-twcss/src/lib/components/elements/dropdown/dropdown.component.spec.ts
  projects/ngx-twcss/src/lib/components/elements/dropdown/dropdown.component.ts
  projects/ngx-twcss/src/lib/components/elements/dropdown/dropdown.config.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.component.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.html
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.spec.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.ts
  projects/ngx-twcss/src/public-api.ts
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml

docs: update
  .yarn/install-state.gz
  src/app/app.module.ts
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/badge-demo/badge-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.ts
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/demos/toggle-demo/toggle-demo.component.html
  src/app/demos/toggle-demo/toggle-demo.component.ts
  src/app/demos/typography-demo/typography-demo.component.html
  src/app/menu/menu.component.html
  src/app/roadmap/roadmap.component.html
  yarn.lock
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

refactor(component): use function instead of const for better readability
  projects/ngx-twcss/src/lib/components/elements/avatar/avatar.config.ts
  projects/ngx-twcss/src/lib/components/elements/badge/badge.config.ts
  projects/ngx-twcss/src/lib/components/elements/button-group/button-group.config.ts
  projects/ngx-twcss/src/lib/components/elements/dropdown/dropdown.config.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.config.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.config.ts
  projects/ngx-twcss/src/lib/components/forms/toggle/toggle.config.ts
  projects/ngx-twcss/src/lib/components/overlays/modal-dialog/modal-dialog.config.ts
  projects/ngx-twcss/src/lib/components/overlays/modal-dialog/modal-dialog.ts
  projects/ngx-twcss/src/lib/components/typography/typography.module.ts
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

docs: add footer
  src/app/app.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

docs: update gettting started guide
  README.md
  projects/ngx-twcss/README.md
  src/app/app.module.ts
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

docs: fix typo
  README.md
  projects/ngx-twcss/README.md
Due: none

docs: update typo
  README.md
  projects/ngx-twcss/README.md
Due: none

docs: update footer
  src/app/app.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

docs: update
  README.md
  projects/ngx-twcss/README.md
Due: none

docs: update
  docs/components/buttons-group.md
  docs/components/buttons.md
  src/app/app.component.html
  src/app/demos/avatar-demo/avatar-demo.component.html
  src/app/demos/badge-demo/badge-demo.component.html
  src/app/demos/button-group-demo/button-group-demo.component.html
  src/app/demos/buttons-demo/buttons-demo.component.html
  src/app/demos/combobox-demo/combobox-demo.component.html
  src/app/demos/dropdown-demo/dropdown-demo.component.html
  src/app/demos/modal-dialog-demo/modal-dialog-demo.component.html
  src/app/demos/toggle-demo/toggle-demo.component.html
  src/app/demos/typography-demo/typography-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

docs: fix typo
  src/app/demos/typography-demo/typography-demo.component.html
Due: azure-pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-demo.yml

refactor(forms): improve components design
  .yarn/install-state.gz
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.base.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.component.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.html
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.component.ts
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox.ts
  yarn.lock
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml

test(forms): fix failling test
  projects/ngx-twcss/src/lib/components/forms/combobox/combobox-item/combobox-item.component.spec.ts
Due: azure-pipelines/ngx-twcss-package.yml, pipelines/ngx-twcss-package.yml
